.page-middle {
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

#login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: 'Fira Code';
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 10, 0.6);
}


#login-form input[type=text], #login-form input[type=password] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 2px;
    margin-bottom: 10px;
    font-family: 'Fira Code';
}

#login-form input[type=text] {
    color: var(--color-label);
    border-color: var(--color-label);
}

#login-form input[type=password] {
    color: var(--color-number);
    border-color: var(--color-number);
}

#login-form input[type=submit], #login-form input[type=button] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-foreground);
    background: transparent;
    border-radius: 2px;
    margin-bottom: 10px;
    font-family: 'Fira Code';
    color: var(--color-foreground);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#login-form input[type=submit]:hover, #login-form input[type=button]:hover {
    background: var(--color-foreground);
    color: var(--color-background);
}

h1, h2 {
    text-align: center;
    font-family: 'Fira Code';
    color: var(--color-foreground);
    margin: 0;
    padding: 20px 0;
}

.sphere {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--color-class-name);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: blur(50px);
}

.sphere-1 {
    margin-left: -50px;
    background: red;
}

.sphere-2 {
    margin-left: 60px;
    background: green;
}

.sphere-3 {
    margin-top: -40px;
    margin-left: 50px;
    background: yellow
}

.sphere-4 {
    margin-bottom: -50px;
    margin-left: -40px;
    background: blue;
}

.sphere-5 {
    margin-bottom: -50px;
    margin-left: 70px;
    background: purple;
}
