#group-picker, #tasks, #templates {
    width: auto;
    height: auto;
    padding: 10px 15px;
    margin: 15px;
}

#templates {
    width: 100%;
    margin: 5px 15px;
}

#students {
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    width: 100%;
    margin-left: 15px;
    border-radius: 8px;
}

.student {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    color: #fff;
    font-family: 'Fira Code';
    display: flex;
    border-radius: 3px;
}

.student-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    user-select: none;
}

#task {
    width: 100%;
    margin: 5px 15px;
}

#task pre {
    width: 100%;
    margin: 0!important;
}

input[type=button] {
    width: 100%;
    margin: 5px 15px;
    padding: 10px;
    font-family: 'Fira Code';
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #0f0;
    background: transparent;
    color: #0f0;
    transition: all .2s ease;
    cursor: pointer;
}

input[type=button]:hover {
    background: #0f0;
    color: #fff;
}

input[type=button].danger {
    background: transparent;
    color: #ff0000;
    border: 1px solid #ff0000;
}

input[type=button].danger:hover {
    background: #ff0000;
    color: #fff;
}

#content {
    width: 50%;
    margin: 0 auto;
}
